{% extends 'base.html' %}

{% block content %}
{% include 'header.html' %}
    <table class="table">
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a href="{{ object.pk }}/detail/">{{ object.name }}</a></td>
                </tr>
            <!-- If object_list is empty  -->
            {% empty %}
                <tr><td colspan="4">No objects yet.</td>
            {% endfor %}
        </tbody>
    </table>
{% include 'footer.html' %}
{% endblock %}