{% load static %}
        <!-- Side Navbar -->
        <nav class="side-navbar z-index-40">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center py-4 px-3">
          </div>

          <ul class="list-unstyled py-4">
            <li class="sidebar-item"><a class="sidebar-link" href="{% url 'legal:list' %}">
                <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                  <use xlink:href="#real-estate-1"> </use>
                </svg>Home</a></li>
          </ul>

          <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Create Movie</span>
          <ul class="list-unstyled py-4">
            <li class="sidebar-item"> <a class="sidebar-link" href="{% url 'legal:create' %}">
                <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                  <use xlink:href="#survey-1"> </use>
                </svg>Create </a></li>
          </ul>
        </nav>